<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <title>django-address</title>
    <link href="/static/css/bootstrap.min.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/css/bootstrap-theme.min.css" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <style>
      .address {
        width: 300px;
      }
    </style>
    {{ form.media }}
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit"></input>
    </form>
  </body>
</html>
