<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>django-address</title>

  <style>
    .address {
      width: 300px;
    }

    .fixed-width {
      font-family: monospace;
    }

    .bold {
      font-weight: bold;
    }
  </style>

  <!-- needed for JS/GoogleMaps lookup -->
  {{ form.media }}
</head>
<body>
  {% if not google_api_key_set %}
    <p>This django-address example site is running correctly.
    <p>However, you <span class="bold">must</span> set <span class="fixed-width">GOOGLE_API_KEY</span> in settings.py to use this demo.</p>
    <p>See this <a target="_blank" href="https://github.com/furious-luke/django-address/blob/master/example_site/README.md">sample project's readme</a> for instructions.</p>
  {% else %}
    <h1>django-address demo application</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>
    {% if success %}
    <p>Successfully submitted an address.</p>
    <p>View address model data in <a href="{% url 'admin:index' %}">django admin</a>.</p>
    {% endif %}
    <p>Total addresses saved: {{ addresses.count }}</p>
  {% endif %}
</body>
</html>
