<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>django-address</title>

  <style>
      .address {
        width: 300px;
      }
  </style>

  <!-- needed for JS/GoogleMaps lookup -->
  {{ form.media }}
</head>
<body>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>

  <p>form.initial.address: {{ form.initial.address }}</p>
</body>
</html>
